body{ font-family: Arial, Helvetica, sans-serif; 
background-color: aliceblue;


}

.imge {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid blue;


}
.card{ 
    text-align: center;
    width: 90%;
    max-width: 600px;
    background: white;
    border-radius: 20px;
    padding: 50px;
    margin: 20px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    line-height: 1.6;
    
}

h2 { color: rgb(9, 25, 248);
    

}
 p span {

     background-color: blue;
     border-radius: 30px;
     padding: 10px 15px;
     margin: 5px;
     color:white;
    
     
}

li {
    list-style: none;
    border-radius:50px;
    background-color: rgb(249, 248, 248);
    padding:0;
    margin: 10px 0;

}
.footer{ 

    margin: 10px;
    padding: 30px;
    text-align: center;

}